body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #3a3838;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    height: 20vh;
}

main{
    background-color: antiquewhite;
    color:#3a3838;
    margin: 5%;
}

.middel{
    
    margin-left: 40%;
    
}


