*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FEE8E5;
}

header {
    display:flex;
    justify-content: center;
    background-color: #B81F24;
    padding: 10px;
    gap: 10px;
}

.logo {
    width: 100px;
    length: 100px;
}

h1{
    color: white;
    padding-top: 30px;
}

.welkom{
    grid-area: welkom;
    display: grid;
    justify-content: center;
}

.huidig{
    display: grid;
    justify-content: center;
    grid-area: huidig;
}

button{
    border-style: none;
}

.volume{
    grid-area: volume;
}

.stop{
    grid-area: stop;
}

.middendeel{
    display: grid;
    grid-template-areas: 
        "welkom welkom"
        "huidig huidig"
        "volume stop";
    grid-template-columns: 50% 50%;
    justify-content: center;
    padding: 30px;
    column-gap: 30px;
    row-gap: 30px;
}

.huidigbalkje{
    grid-area: huidigbalkje;
    border-style: solid;
    border-radius: 10px;
    border-color: #EB2B31;
    border-width: 5px;
}

.radiolijst{
    grid-area: radiolijst;
    background-color: #2BA6EB;
}

.toevoegen{
    grid-area: toevoegen;
    background-color: #2BA6EB;
}

.huidig{
    display: grid;
    grid-template-areas:
        "p p p"
        "huidigbalkje radiolijst toevoegen"
        "hr hr hr";
}

img{
    length: 30px;
    width: 30px;
}

.volumeknop{
    padding: 10px;
    background-color: #EB2B31;
}

#volume2{
    padding-top: 20px;
}

#volume3{
    padding-top: 30px;
}

#volume4{
    padding-top: 40px;
}

#volume5{
    padding-top: 50px;
}

.stopknop{
    padding:50px;
    background-color: #EB2B31;
    border-radius: 50px;
}

.stop{
    display:grid;
    width: 30%;
}